// colors -> main-color, light-color, dark-color, medium-color
$light-color: #c7f5f3;
$main-color: #20b2aa;
$medium-color: #788bff;
$dark-color: #033f63;

// img
$main-img: 'https://images.unsplash.com/photo-1559000357-f6b52ddfbe37?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1867&q=80';

// conf
a {
  text-decoration: none;
}

ul {
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

// utils
.container {
  max-width: 1560px;
  margin: auto;
  padding: 0 2rem;
}

// mixin
@mixin set-flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

// padding
.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
}

// margin

// text
.big {
  font-size: 2.7rem;
  margin-bottom: 0.4rem;
}

.p-lead {
  line-height: 1.6;
  font-size: 1.3rem;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 0.8rem;
}
