@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&family=Staatliches&family=Dosis&family=Open+Sans&display=swap');

@import './utils';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  background: #fdfdfd;
}

header {
  height: 100vh;

  #main-nav {
    border-bottom: 3px solid $main-color;
    .nav-container {
      @include set-flex(space-between);

      .logo {
      }

      ul {
        display: flex;

        li {
          padding: 1.2rem 0.7rem;

          a {
            border-bottom: 2px solid transparent;
            transition: border-color 0.3s ease;
            color: #333;
            font-size: 1.05rem;
            font-weight: bolder;
            font-family: 'Dosis';
            text-transform: uppercase;

            &:hover {
              border-color: $main-color;
            }
          }
        }
      }
    }
  }

  .content {
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    // height: calc(93vh - 3px);
    height: 50vh;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url($main-img) no-repeat center center/cover;
      z-index: -1;
    }

    .content-container {
      display: grid;
      grid-template-columns: 1fr 1.3fr;

      // to pull out
      .label {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: bolder;
        display: inline-block;
        // background: $medium-color;
        background: $dark-color;
        color: #fcfcfc;
        border-radius: 15px;
        padding: 0.1rem 1rem;
        margin-bottom: 0.3rem;
      }

      .p-lead {
        color: #f0f0f0;
      }

      .big {
        color: $main-color;
        font-family: 'Staatliches', 'Arial';
        font-weight: bolder;
      }

      .btn {
        border: none;
        padding: 0.9rem;
        background: $dark-color;
        color: #fcfcfc;
        transition: all 0.4s ease;
        cursor: pointer;
        font-size: 0.9rem;

        &:hover {
          transform: scale(0.97);
        }
      }
    }
  }
}
